html, body {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $bodyfont;
  line-height: $bodylh;
  color: $bodycolor;
  background-color: $bodybgcolor;
  margin: 0;
  padding: 0;
}

button {
  display: block;
}


a {
  display: block;
  text-decoration: none;


  &:hover {
    text-decoration: none;
    outline: none;
  }
}

h1 {
  font-weight: 700;
  color: $h1color;
  font-size: $h1font;
  line-height: $h1lh;
  letter-spacing: -1px;
}

h2 {
  font-weight: 600;
  color: $h2color;
  font-size: $h2font;
  line-height: $h2lh;
  letter-spacing: -1px;
}

img {
  display: block;
  max-width: 100%;
}

.static {
  position: static;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-title {
  font-size: $lsfont;
  line-height: $lslh;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: $h2color;
  margin-bottom: 37px;
}

